__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
*.db
uploads/*
!uploads/.gitkeep
instance/
.env
.DS_Store
*.log
.vscode/
.idea/
file-upload-sys-afa13-firebase-adminsdk-fbsvc-c97675a972.json
